<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">실험 추가</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
                  <div class="form-group text-right ">
                    <button class="btn btn-info" onclick="javascript:void(0);" >속성추가</button>
                    <button class="btn btn-danger" onclick="javascript:void(0);">속성삭제</button>
                  </div>
                  <label>실험이름</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                  <label>테이블 이름(only english)</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                  <label>속성명1</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-success">실험 추가</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    
</script>

      