<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
  <title>
    대한민국 농촌진흥청 스마트팜 2.0
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="white-content">
  <div class="wrapper">
    
   
    <div class="main-panel" data="blue">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            
            <a class="navbar-brand" href="javascript:void(0)"><h1><i class="fas fa-leaf"></i>SMART FARM 2.0</h1></a>
          </div>
        </div>
      </nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">실험 추가</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
                  <div class="form-group text-right ">
                    <button class="btn btn-info" onclick="javascript:void(0);">속성추가</button>
                    <button class="btn btn-danger" onclick="javascript:void(0);">속성삭제</button>
                  </div>
                  <label>실험이름</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                  <label>테이블 이름(only english)</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
                  <label>속성명1</label>
                  <div class="form-group">
                    <input type="text" class="form-control">
                  </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-success">실험 추가</button>
      </div>
    </div>
  </div>
</div>


      
      <!-- End Navbar -->
      <div class="content" style="padding-left: 30px !important;">